<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Explore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="top-container">

    <h1 class="heading">Tap Tour</h1>

    <h5 class="sub-heading">
  
      Tap your phone to this tag to get enlighted!
    </h5>


    <div *ngIf="!isIos" class="flex-center">
      <img src="./assets/images/nfc_logo.png" class="main-img"/>
  

      <ion-button class="scan-button" fill="outline" type="button" expand="block" color="tertiary" (click)="readNFCTag()">
        <ion-icon name="radio" slot="start"></ion-icon>
        Click here to Start Scanning
      </ion-button>

      <br />
    </div>
  
    <div *ngIf="isIos" class="flex-center">
      <img src="./assets/images/nfc_logo.png" class="main-img"/>

      <ion-button class="scan-button" fill="outline"  type="button" expand="block" color="tertiary" (click)="readNFCTag()">
        <ion-icon name="radio" slot="start"></ion-icon>
        Click here to Start Scanning
      </ion-button>
    </div>

  </div>

  


</ion-content>