<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Explore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <div *ngIf="!isIos" class="flex-center">
    <ion-button type="button" expand="block" color="tertiary" (click)="readNFCTag()">
      <ion-icon name="radio" slot="start"></ion-icon>
      Tap on NFC tags to scan
    </ion-button>
  </div>

  <div *ngIf="isIos" class="flex-center">
    <ion-button type="button" expand="block" color="tertiary" (click)="readNFCTag()">
      <ion-icon name="logo-apple" slot="start"></ion-icon>
      Click here and Tap on NFC tags to scan
    </ion-button>
  </div>


</ion-content>