<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Artists
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item button (click)="addArt()">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Add New</ion-label>
    </ion-item>

    <ion-item button (click)="allArts()">
      <ion-icon name="library"></ion-icon>
      <ion-label>My Arts</ion-label>
    </ion-item>

  </ion-list>

</ion-content>