<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>

    <ion-title>Artwork</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Fixed Floating Action Button that does not scroll with the content -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" id="open-modal" expand="block">
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title>{{artwork?.title}}</ion-card-title>
      <!-- <ion-card-title>{{descTemp}}</ion-card-title> -->
    </ion-card-header>

    <ion-card-content>
      {{artwork?.description}}


      <div *ngFor="let asset of artworkAssets">

        <div class="img-container">
          <img *ngIf="asset.assetType==0" [src]="asset.address" [alt]="asset.description" />
        </div>

        <app-wavplayer *ngIf="asset.assetType == 1" [play_The_track]="asset.address" [title]="asset.title">
        </app-wavplayer>
      </div>

      <p><a *ngIf="artwork?.moreInfo" target="_blank" rel="noopener noreferrer"
          [href]="artwork?.moreInfo | safeHtml">More Info..</a>
      </p>

    </ion-card-content>
  </ion-card>

  <!-- <div *ngIf="imageList" style="text-align: center; max-height: 300px;">
    <img [src]="imageList[idTemp].url | safeHtml" (click)="showPhoto(imageList[idTemp].url, 'some_title')" />
  </div> -->


  <!-- 
  <iframe width="300" height="200" src="https://www.youtube.com/embed/KeGxFx36mmU" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe> -->
  <!-- <app-wavplayer></app-wavplayer> -->


  <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 0.75]">
    <ng-template>
      <ion-content>

        <div>
          <ion-item>
            <ion-textarea placeholder="Ask your question here" [(ngModel)]="userQuestion"></ion-textarea>
          </ion-item>
          <ion-button fill="outline" (click)="askQuestion()">Ask</ion-button>
          <p style="font-size: small; padding:5px; text-align: left;">
            {{questionResponse}}
          </p>
        </div>

      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>