<ion-content>
  <ion-slides pager="true">

    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="light">
        <img
          src="https://media.istockphoto.com/vectors/contactless-wireless-pay-sign-logo-nfc-technology-vector-stock-vector-id1208178402?k=20&m=1208178402&s=612x612&w=0&h=UIVOoJ1tPR_jxjQ4T6WdyvEOpQfYeHWJrj9BMzL1ZaA=">

        <h1>Tap Tour</h1>
        <p>Welcome to App to share the Art smartly!</p>
        <p> Here are the steps.. </p>

        <ion-button (click)="next()" fill="outline" color="light">Next</ion-button>
      </ion-text>

    </ion-slide>
    <!-- slide 2 -->
    <ion-slide>
      <ion-text color="light">
        <img
          src="https://media.istockphoto.com/vectors/contactless-wireless-pay-sign-logo-nfc-technology-vector-stock-vector-id1208178402?k=20&m=1208178402&s=612x612&w=0&h=UIVOoJ1tPR_jxjQ4T6WdyvEOpQfYeHWJrj9BMzL1ZaA=">

        <h1>Go to the Explore tab</h1>

        <ion-button (click)="next()" fill="outline" color="light">Next</ion-button>
      </ion-text>

    </ion-slide>

    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="light">
        <img
          src="https://media.istockphoto.com/vectors/contactless-wireless-pay-sign-logo-nfc-technology-vector-stock-vector-id1208178402?k=20&m=1208178402&s=612x612&w=0&h=UIVOoJ1tPR_jxjQ4T6WdyvEOpQfYeHWJrj9BMzL1ZaA=">
        <h1>Just Tap</h1>
        <p>Find an artwork with NFC tag..</p>
        <p>... and tap the phone on the tag!</p>
        <ion-button (click)="start()" fill="outline" color="light">Start</ion-button>
      </ion-text>
    </ion-slide>

  </ion-slides>
</ion-content>